.division66768 {
  box-sizing: border-box;
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5px grey;
}
.text88532 {
  margin: 0px;
  text-transform: capitalize;
}

.image16277:hover {
  padding: 5px;
  /* border: 1px solid grey; */
  border-radius: 50%;
  /* box-sizing: border-box; */
  box-shadow: 0 0 5px grey, 0 0 10px grey, 0 0 15px grey;
}
.image16277 {
  width: 36px;
  cursor: pointer;
  transition-duration: 0.3s;
  margin-left: 10px;
  margin-right: 8px;
  box-sizing: border-box;
}
.division24344 {
  box-sizing: border-box;
  display: flex;
}
.division12604 {
  box-sizing: border-box;
}
.paragraph59683 {
  margin: 0px;
  padding: 5px;
}
.left-text {
  color: rgb(117, 117, 117);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
.division66826 {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-end;
  display: flex;
  padding: 0 10px;
}
.mytext-chat {
  color: rgb(255, 255, 255);
  background-color: rgba(64, 199, 46, 0.48);
  text-align: end;
  border-radius: 5px;
}
.image79354 {
  width: 90px;
  margin: 3px;
  border-radius: 5px;
}
.division95556 {
  box-sizing: border-box;
  border-radius: 5px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.image53929 {
  width: 30px;
  margin: 0 20px;
  filter: invert(0.5);
}
.division54868 {
  height: 100%;
  position: relative;
  width: 85%;
  box-sizing: border-box;
  overflow: hidden;
}
.chat-nav {
  height: 8%;
  width: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  display: flex;
  box-shadow: rgb(0, 0, 0) 0px 1px 5px;
}
.chat-nav-left {
  height: 100%;
  width: auto;
  box-sizing: border-box;
  display: flex;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
}
.division69261 {
  height: 100%;
  width: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: self-start;
  flex-direction: column;
  margin-left: 10px;
}
.chat-nav-right {
  height: 100%;
  width: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.chatnav-search {
  height: 100%;
  width: 0px;
  box-sizing: border-box;
  transition-duration: 0.3s;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-right: -45px;
}
.searchinput20267 {
  border-width: 1px;
  background-color: rgba(136, 168, 131, 0);
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border-color: rgb(168, 168, 168);
  color: rgb(97, 97, 97);
}
.division36662 {
  height: 92%;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 10px 0px 0px;
  background-color: rgba(199, 199, 199, 0.3);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column-reverse;
  overflow-y: scroll;
  overflow-x: hidden;
}
.leftside-chat-cont {
  height: auto;
  width: 100%;
  align-items: self-start;
  padding-left: 10px;
}
.division38533 {
  height: auto;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(73, 176, 60, 0.61);
  border-radius: 5px;
}
.division53219 {
  height: auto;
  box-sizing: border-box;
  display: flex;
  width: 90px;
  background-color: rgba(73, 176, 60, 0.6);
  position: relative;
  border-radius: 5px;
}
.image16478 {
  width: 35px;
  position: absolute;
  right: 1px;
}
.chat-inputsec {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: auto;
  justify-content: flex-start;
  box-shadow: rgb(0, 0, 0) 1px 0px 10px;
  position: sticky;
  bottom: 0px;
  background-color: #f0f2f5;
  margin-left: 0px;
  margin-right: 1px;
  padding-right: 5px;
  padding-left: 5px;
  min-height: 75px;
}
.textarea38640::placeholder {
  color: #ffff;
}
.textarea38640 {
  outline: none;
  background: rgba(255, 255, 255, 0.63);
  color: #4d4d4d;
  border-radius: 7px;
  border: none;
  font-family: Helvetica;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  height: 43px;
  width: 100%;
  margin: 5px;
  font-size: 1.3rem;
  box-sizing: border-box;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  resize: none;
  box-shadow: 0 0 5px grey;
}

.division29438 {
  cursor: pointer;
  height: 20px;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
}
.image56324 {
  width: 15px;
}
.paragraph34114 {
  margin: 0px;
  padding-left: 5px;
  font-weight: bold;
  text-transform: capitalize;
}
.division90631 {
  position: absolute;
  right: 0;
  display: none;
  top: 80%;
  height: auto;
  width: 120px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: rgb(212, 212, 212);
  padding-top: 10px;
  padding-bottom: 10px;
}

.show-pops:hover .division90631 {
  display: block;
}
.insideMessagecont {
  width: 100%;
}
.Imagescontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
